div#aspect-rows-container {
    padding: 25px 0;

    div.button-row {
        display: flex;
        justify-content: space-evenly;
    
        &:not(:first-child):not(:last-child) {
            margin: 20px 0;
        }
    
        button.aspect-button {
            width: 321px;
            
        }
    }
}