div#form-container {
    display: flex;
    justify-content: space-between;

    form {
        display: inline-block;
        width: 500px;
    
        .input-row {
            padding: 20px 0;
            display: flex;
            justify-content: space-between;

            div.text-input {
                width: 300px;

                p.Mui-error {
                    position: absolute;
                    top: 55px;
                }
            }
    
            div.number-input {
                max-width: 200px;
                margin-left: 15px;

                p.Mui-error {
                    position: absolute;
                    top: 55px;
                    width: 200px;
                    line-height: 1.2;
                }
            }
        }
    }
}