@import '../../../styles/variables.scss';

#chart-container {
    width: 500px;
    height: 500px;
    position: relative;
    display: block;

    h3 {
        position: absolute;
        max-width: 260px;
        text-align: center;
        top: 25%;
        left: 25%;
        color: $primary-blue;
    }
}