@import './styles/variables.scss';

#app-nav-bar {
    width: 100%;
    display: flex;
    justify-content: left;
    padding-top: 8px;

    img {
        margin-left: 15px;
        margin-top: auto;
        margin-bottom: auto;
        width: 60px;
        height: 60px;
    }

    h1 {
        margin-left: 10px;
        margin-top: auto;
        margin-bottom: auto;
        color: $primary-blue;
    }
}

#app-container {
    max-width: 1000px;
    margin: 0 auto;

    h2 {
        text-align: center;
        color: $primary-blue;
    }
}